/* poppins-devanagari-400-normal*/

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/poppins/files/poppins-devanagari-400-normal.woff2?790d0c8dbcd491d29d58f1369c199d40) format("woff2"), url(/fonts/vendor/@fontsource/poppins/files/poppins-all-400-normal.woff?bbae93786a029de7b9458f5ca63e01fd) format("woff");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* poppins-latin-ext-400-normal*/

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/poppins/files/poppins-latin-ext-400-normal.woff2?0ed299a4bb5262e17e2145783b2c18f1) format("woff2"), url(/fonts/vendor/@fontsource/poppins/files/poppins-all-400-normal.woff?bbae93786a029de7b9458f5ca63e01fd) format("woff");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* poppins-latin-400-normal*/

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/poppins/files/poppins-latin-400-normal.woff2?9212f6f9860f9fc6c69b02fedf6db8c3) format("woff2"), url(/fonts/vendor/@fontsource/poppins/files/poppins-all-400-normal.woff?bbae93786a029de7b9458f5ca63e01fd) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* chonburi-thai-400-normal*/

@font-face {
  font-family: "Chonburi";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/chonburi/files/chonburi-thai-400-normal.woff2?15459fd3df3515cbab4de7bccd7cb5e4) format("woff2"), url(/fonts/vendor/@fontsource/chonburi/files/chonburi-all-400-normal.woff?79ea1880aa4d1e15abb40609bd014150) format("woff");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* chonburi-vietnamese-400-normal*/

@font-face {
  font-family: "Chonburi";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/chonburi/files/chonburi-vietnamese-400-normal.woff2?cf27a0471821f66e5a0bf4fae96cf7e3) format("woff2"), url(/fonts/vendor/@fontsource/chonburi/files/chonburi-all-400-normal.woff?79ea1880aa4d1e15abb40609bd014150) format("woff");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* chonburi-latin-ext-400-normal*/

@font-face {
  font-family: "Chonburi";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/chonburi/files/chonburi-latin-ext-400-normal.woff2?3beb41891d1efb702532e8b59cb8dc84) format("woff2"), url(/fonts/vendor/@fontsource/chonburi/files/chonburi-all-400-normal.woff?79ea1880aa4d1e15abb40609bd014150) format("woff");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* chonburi-latin-400-normal*/

@font-face {
  font-family: "Chonburi";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/chonburi/files/chonburi-latin-400-normal.woff2?fd2e3035bff6ebc202e623e483fd96e3) format("woff2"), url(/fonts/vendor/@fontsource/chonburi/files/chonburi-all-400-normal.woff?79ea1880aa4d1e15abb40609bd014150) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

