// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$orange: #F98857;
$soft_brown: #E7DCC8;
$light_brown: #EBE7DE;
$green_salad: #BECFBC;
$light_green: #EEF0EB;
$violet: #C28ED1;
$blue: #BCCBEA;