.layout_wrapper{
  width:100%;
}
main{
  // height: 100vh;
  margin:3rem 4rem;
  width:100%;
  font-family: Poppins,sans-serif;
  .date{
    display:inline-block;
    // background-color: pink;
    border-radius: 0.4rem;
    padding: 0.5rem 0;
    input[type="date"]{
     background-color: pink;
     border:none;
     border-radius: 20px;
     color: darkmagenta;
     padding: 0.5rem 1rem;
    }
  }
  .main-dashboard{
    // display: grid;
    width:100%;
    justify-content: center;
    overflow: hidden;
    scroll-behavior: smooth;
    // margin: 0 auto;
    // gap: 1.8rem;
    // grid-template-columns: 20rem 20rem 20rem;
    // padding: 3rem 4rem;
  }

  //LEFT
  .left{
    // flex-basis: 100%;
    width:100%;
    p{
      margin-bottom: 0;
    }
    .info{
      line-height:20px;
    }
    .profile-photo{
      margin-left:20px;
    }
    #menu-btn{
      display:none;
    }
    .theme-toggler{
      margin-right: 40px;
      background-color: lightgray;
      display:flex;
      justify-content: space-between;
      align-items: center;
      height:1.6rem;
      width:4.2rem;
      cursor:pointer;
      border-radius:20px;
      span{
        width:50%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
          font-size: 14px;
        }
      }
      .active{
        background-color: darken($blue, 20%);
        color:white;
        border-radius: 10px;
      }
    }
    .cont{
      width:100%;
    }
  }

  //INSIGHTS

  .insights{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1.6rem;
    .progress{
      height: 11rem;
      line-height: 0; 
      background-color: transparent;
      // display:block;
      position: relative;
      width: 145px;
      height: 92px;
      border-radius:50%;
      svg{
        width:100px;
        circle {
          fill:none;
          stroke:rgb(142, 93, 210);
          stroke-width: 14;
          stroke-linecap: round;
          transform: translate(5px, 5px);
          stroke-dasharray: 110;
          stroke-dashoffset: 92;
        }
      }
    }
  }
  .insights > div{
     background-color: white;
     padding: 1rem;
     border-radius: 0.5rem;
     margin-top: 1rem;
     box-shadow: 0 5px 10px rgb(121, 120, 120);
     transition:all 300ms ease;
     &:hover{
      box-shadow:none;
     }
  }
  .insights > div i{
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    font-size: 1rem;     
  }
  .insights > div.sales i{
    background: rgb(142, 93, 210);
  }
  .insights > div.expenses i{
    background: rgb(254, 68, 11);
  }
  .insights > div.income i{
    background: greenyellow;
  }
  .insights > div.middle{
    display:flex;
    height: 200px;
  }
  .middle{
    display: flex;
    justify-content: space-between;
  }

  .insights .sales svg circle{
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
  }
  .insights .income svg circle{
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
  }
  .insights .expenses svg circle{
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
  }

  
  // RECENT_ORDERS
  .recent-orders h2{
    margin:2rem 0;
  }

  .recent-orders table{
    background-color: white;
    width:100%;
    border-radius: 10px;
    padding: 20px 30px;
    text-align:center;
    box-shadow: 0 5px 10px gray;
    transition: all 300ms ease;
    &:hover{
      box-shadow: none;
    }
  }
  td{
    margin:0 30px;
  }
  table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid rgb(179, 179, 179);
    color: black;
  }
  tbody tr:last-child td{
    border:none;
  }
  a{
    text-align:center;
    display:block;
    margin: 1rem auto;
    color:rgb(30, 6, 165);
  }

  .card-img-top{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10 black;
  }



  //RIGHT
  .right{
    margin-top: 1,4rem;
    flex-basis:30%;
    .top{
      display:flex;
      justify-content: end;
      gap:2rem;
      background-color: gray;
      button{
        display:none;
      }
    }
    .theme-toggler{
      background-color: aqua;
      display:flex;
      justify-content: space-between;
      align-items: center;
      height: 1.6rem;
      width: 4.2rem;
      cursor:pointer;
      border-radius: 25px;
      span{
        font-size: 1.2rem;
        width:50%;
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        .active{
          background-color: azure;
          color:white;
          border-radius: 10px;
        }
      }
    }
    .right{
      width:50%;
    }
    .right .top .profile{
      display:flex;
      gap:2rem;
      text-align:right;
    }
  }

}
//MEDIAS

@media screen and (max-width: 1200px){
  main{
    margin: 2rem 3rem;
  }
  main .insights{
    grid-template-columns: repeat(2, 1fr);
  } 
  h1{
    font-size: 28px;
  }
  aside{
    width: 25rem;
  }
  main .date input[type=date]{
    padding: 5px 10px;
  }
}

@media screen and (max-width: 768px){
  main{
    margin: 2rem 2rem;
  }
  main .insights{
    grid-template-columns: repeat(1, 1fr);
  } 
}
@media screen and (max-width: 576px){
  aside .sidebar h4{
    display: none;
  }
  aside {
    width: 6rem;
    padding: 40px 25px;
  }
  aside .top .logo img {
    display: none;
  }
  aside .sidebar a:hover{
    margin:0;
    padding: 10px;
  }
  aside .sidebar a.active{
    padding: 10px;
  }
  aside .sidebar a.active:before{
    display: none;
  }
  aside .sidebar a {
    margin-left: 0;
  }

}