// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//header
@import './Header.scss';
@import './Dashboard.scss';
@import './my_profile';

//fonts
@import '~@fontsource/poppins';
@import '~@fontsource/chonburi';

.my_container{
  width:70%;
  margin: 0 auto;
}

body{
  font-family: Poppins, sans-serif;
}

.guest-header{
  height: 100px;
  background-color: #EEF0EB;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 1em 4em;
  box-shadow: 0 0 15px black;
  .logo img{
    width:200px;
  }
  a{
  margin: 0 10px;
  padding: 5px 20px;
  cursor: pointer;
  line-height: 30px;
  list-style:none;
  display: block;
  color:black;
  text-transform: uppercase;
  &:hover{
  text-decoration: none !important;
  }
  }

  .home{
    border: 2px solid black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    &:hover{
      transition: border-radius 0.4s linear;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      cursor:pointer;
    }
  }

  .about{
    border: 2px solid black;
    border-radius: 25px;
    &:hover{
      transition: border-radius 0.4s linear;
      border-radius: 0;
      cursor:pointer;
    }
  }
  .active{
    color:#7131fa;
  }
}