body{
  background-color: $green_salad;
}

ul{
  margin-block-start: 0;
  margin-block-end: 0;
  li{
    list-style: none;
  }
}

a{
  text-decoration: none;
}

.my_container{
  width: 65%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: .7em;
  height: .7em;
  margin-right: 10px;
}
::-webkit-scrollbar-thumb {
  min-height: 20px;
  min-width: 20px;
  border: none;
  background-color: rgb(71, 68, 68);
}

@media (max-width: 992px) {
  .k_container {
    width: 83%;
  }
}