@import '~@fontsource/poppins';
@import '~@fontsource/chonburi';
@import '~bootstrap/scss/bootstrap.scss';

@import './vars';


body{
  background-color: #EEF0EB;
}

::-webkit-scrollbar {
  width: .7em;
  height: .7em;
  margin-right: 10px;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  min-width: 20px;
  border: none;
  background-color: rgb(71, 68, 68);
}
ul li {
  list-style:none;
}

a{
  text-decoration: none;
  color:black;
  &:hover{
    text-decoration: none;
    color:black;
  }
}

.my_container{
  width:65%;
  margin: 0 auto;
}